/* 
//
//  Hiring Coders 2021 | Gama Academy | ACCT | VTEXT 
//
//  Projeto ACCT Clone
//  Grupo 13
//
//
//
//                       Footer Section | rich-text overrides
//                                          Franklin Siqueira
///////////////////////////////////////////////////////////// 
*/
.paragraph--footer{
  /* color: #fcc200;
  margin: 80px 0; */
  /* font-size: 36px; */
}

/* .strong--footer{
  color: red;
  font-size: small;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  font-stretch: condensed;
} */
.container,
.container--footer{ 
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.container--addresses--franklin{ 
  align-items: center;
  justify-content: center;
  justify-items:left
}

.link--footer {
  text-decoration: none;
  text-align: center;;
  align-items: center;
}
/* 
* Desktop
*
*                         richTextAddressesFranklin
***************************************************/
.container--richTextAddressesFranklin{
  /* background-color: tomato; */
  justify-items: left;
  justify-content: left;
}

.strong--richTextAddressesFranklin,
.strong--richTextAddressesMobileFranklin{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
/* 
* Mobile
*
*                   richTextAddressesMobileFranklin
***************************************************/
.colAddressesMobileFranklin,
.richTextAddressesMobileFranklin{
  justify-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}
