@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/open-sans-v23-latin-300.woff), url(assets/fonts/open-sans-v23-latin-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/open-sans-v23-latin-regular.woff), url(assets/fonts/open-sans-v23-latin-regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/open-sans-v23-latin-600.woff), url(assets/fonts/open-sans-v23-latin-600.woff2);
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/open-sans-v23-latin-700.woff), url(assets/fonts/open-sans-v23-latin-700.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url(assets/fonts/open-sans-v23-latin-800.woff), url(assets/fonts/open-sans-v23-latin-800.woff2);
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url(assets/fonts/open-sans-condensed-v15-latin-300.woff), url(assets/fonts/open-sans-condensed-v15-latin-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url(assets/fonts/open-sans-condensed-v15-latin-700.woff), url(assets/fonts/open-sans-condensed-v15-latin-700.woff2);
  font-weight: 700;
}