
.slideChildrenContainer--slider-timeACCT {
    padding: 50px 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.caretIcon--slider-timeACCT {
    border: 3px solid silver;
    border-radius: 50%;
    color: silver;
    width: 15px;
    height: 15px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 2px 2px;
    
}

.caretIcon--slider-timeACCT:hover{
    border-color: grey;
    color: grey;
}

.slide--slider-timeACCT {
    

.sliderArrows {
  color: #fff;
  border: 1px solid gray;
}

.sliderLeftArrow--slider {
  border: 0;
  left: 0px;
}

.sliderRightArrow--slider {
  border: 0;
  right: 0px;
}

@media (min-width: 700px) {
  .sliderLeftArrow--slider {
    left: 10px;
  }

  .sliderRightArrow--slider {
    right: 10px;
  }

}

/* ----- Testimony ----- */
.sliderLeftArrow--testimony-slider,
.sliderRightArrow--testimony-slider {
  border: 3px solid #aaa;
  border-radius: 50%;
  padding: 0.25rem;
}

.sliderLeftArrow--testimony-slider  { left: 0; }
.sliderRightArrow--testimony-slider { right: 0; }

@media (min-width: 1000px) and (max-width: 1199px) {
  .sliderLeftArrow--testimony-slider  { left: 5em; }
  .sliderRightArrow--testimony-slider { right: 5em; }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .sliderLeftArrow--testimony-slider  { left: 11em; }
  .sliderRightArrow--testimony-slider { right: 11em; }
}
@media (min-width: 1400px) {
  .sliderLeftArrow--testimony-slider  { left: 20%; }
  .sliderRightArrow--testimony-slider { right: 20%; }
}

.caretIcon--testimony-slider {
  width: 12px;
  height: 12px;
  color: #aaa;
  stroke-width: 3px;

}