.logoImage {
  margin: 10px 0;
  padding: 15px 0;
}
.imageElement--page-banner {
  max-width: none;
  height: 232px;
}

.infoCardContainer--about-info-card {
  border: 0;
  background: none;
}

.infoCardHeadline--about-info-card {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem;
}

.imageElement--somos-img {
  margin-right: 50px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
  height: auto;
}

.imageElement--icon-engenharia {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-habilidades {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-lider {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-suporte {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-seguranca {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--person1 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person2 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person3 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person4 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person5 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person6 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person7 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person8 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person9 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person10 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person11 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person12 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person13 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person14 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person15 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person16 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person17 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person18 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
.imageElement--person19 {
  border-radius: 50%;
  border-color: lightgrey;
  border-width: 3px 3px;
  border-style: solid;
}
