.logoImage {
  margin: 10px 0;
  padding: 15px 0;
}
.imageElement--page-banner {
  max-width: none;
  height: 232px;
}

.infoCardContainer--about-info-card {
  border: 0;
  background: none;
}

.infoCardHeadline--about-info-card {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem;
}

.imageElement--somos-img {
  margin-right: 50px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
  height: auto;
}

.imageElement--icon-engenharia {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-habilidades {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-lider {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-suporte {
  margin-left: 70px;
  margin-right: 70px;
}

.imageElement--icon-seguranca {
  margin-left: 70px;
  margin-right: 70px;
}