.flexRow--menu-item:hover {
  color: #fcc200;
}

.flexRowContent--about-flex-card {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 8em 8em 4em;
}

.flexRow--about-title-row {
  width: 100%;
}

.flexRowContent--about-title-row {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
