.sliderArrows {
  color: #fff;
  border: 1px solid gray;
}

.sliderLeftArrow--slider {
  border: 0;
  left: 0px;
}

.sliderRightArrow--slider {
  border: 0;
  right: 0px;
}

@media (min-width: 700px) {
  .sliderLeftArrow--slider {
    left: 10px;
  }

  .sliderRightArrow--slider {
    right: 10px;
  }
}