.flexRow--menu-item:hover {
  color: #fcc200;
}

.flexRowContent--about-flex-card {
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  padding: 8em 0;
}

@media (min-width: 900px) {
  .flexRowContent--about-flex-card {
    width: 80%;
  }
}

.flexRow--about-title-row,
.flexRow--about-title-row1,
.flexRow--about-title-row2,
.flexRow--about-button-row {
  width: 100%;
}

.flexRowContent--about-title-row {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 2rem;
}

@media (max-width: 840px) {
  .flexRowContent--about-title-row1,
  .flexRowContent--about-title-row2 {
    flex-direction: column;
    align-items: center;
  }
}
.flexColChild--form {
  max-width: 540px;
}
.flexRow--form {
  background-image: url('assets/bg-form.jpg');
  margin: 0;
  background-size: cover;
  background-position-x: center;
  padding: 96px 20px;
}
.flexCol--product-shelf {
  margin: 30px 11px;
  padding: 30px 45px;
}
.flexColChild--product-shelf :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.flexColChild--product-shelf :global(.vtex-button):hover {
  background-color: #fff;
  color: #000;
  animation: fade 0.5s linear;
  -webkit-animation: fade 0.5s linear;
}

@keyframes fade {
  0% {
    background-color: transparent;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #000;
  }
}
