.paragraph--page-title {
  margin: 80px 0;
  font-size: 36px;
}
.paragraph--page-title-blink {
  color: #fcc200;
  margin: 80px 0;
  font-size: 36px;
  animation: blink 1s step-start infinite;
  -webkit-animation: blink 1s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* ----- Home: About-us ----- */
.container--about-title,
.container--about-title-yellow,
.container--about-button {
  width: 100%;
}

.paragraph--about-title,
.paragraph--about-title-yellow,
.paragraph--about-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.paragraph--about-title,
.paragraph--about-title-yellow {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--about-title {
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--about-text {
  width: 90%;
  font-size: 1.25rem;
  margin: 1.46rem auto 4rem;
}

.paragraph--about-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0.625em 1.25em;

  outline: 0;
  background: transparent;
  border: 2px solid #5974c7;
  border-radius: 4px;
  color: #5974c7;
  text-shadow: 0 1px 0 rgb(0 0 0 / 5%);
  cursor: pointer;
  line-height: 1;
}


.wrapper--about{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 70px;
  margin-right: 10px;
  margin-top: 20px;
}

/* ---- configurações dos textos com os nomes dos membros do Time, na página sobre-nos  */

.paragraph--text-person1, .paragraph--text-person2,
.paragraph--text-person3, .paragraph--text-person4,
.paragraph--text-person5, .paragraph--text-person6,
.paragraph--text-person7, .paragraph--text-person8,
.paragraph--text-person9, .paragraph--text-person10,
.paragraph--text-person11, .paragraph--text-person12,
.paragraph--text-person13, .paragraph--text-person14,
.paragraph--text-person15, .paragraph--text-person16,
.paragraph--text-person17, .paragraph--text-person18,
.paragraph--text-person19 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.strong--text-person1, .strong--text-person2,
.strong--text-person3, .strong--text-person4,
.strong--text-person5, .strong--text-person6,
.strong--text-person7, .strong--text-person8,
.strong--text-person9, .strong--text-person10,
.strong--text-person11, .strong--text-person12,
.strong--text-person13, .strong--text-person14,
.strong--text-person15, .strong--text-person16,
.strong--text-person17, .strong--text-person18,
.strong--text-person19 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

/* ---- configurações do título Projetando... digital, na página sobre-nos  */

.container--projetando {
  padding: 90px 0px 0px;
}
.strong--projetando {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: black;
}
.paragraph--projetando {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fcc200;
}

/* ---- configurações do título Por que ACCT?_, na página sobre-nos  */

.container--title-porque {
  padding: 90px 0px 0px;
}
.strong--title-porque {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
}
.paragraph--title-porque {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fcc200;
}

/* ---- configurações do título dos ícones pertencentes a Por que ACCT?_, na página sobre-nos  */

.wrapper--title-engenharia, .wrapper--title-habilidades, .wrapper--title-lider,
 .wrapper--title-suporte, .wrapper--title-seguranca {
  padding-bottom: 100px;
  margin-top: -100px;

}

.paragraph--title-engenharia, .paragraph--title-habilidades,
.paragraph--title-lider, .paragraph--title-suporte, 
.paragraph--title-seguranca {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  color: grey;
  font-weight: bold;
}

/* ---- configurações do título Time_, na página sobre-nos  */

.container--title-time {
  padding: 90px 0px 0px;
}
.strong--title-time {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: black;
}
.paragraph--title-time {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fcc200;
}

/* ---- configurações do subtítulo do Time_, na página sobre-nos  */

.container--subtitle-time {
  margin-top: -25px;
}

.strong--subtitle-time {
  font-family: 'Open Sans', sans-serif;
  color: #fcc200;
  font-weight: 600;

.paragraph--about-button:hover {
  color: #ffffff;
  border: 2px solid #5974c7;
  background: #5974c7;

}