.logoImage {
  margin: 10px 0;
  padding: 15px 0;
}
.imageElement--page-banner {
  max-width: none;
  height: 232px;
}

.infoCardContainer--about-info-card {
  border: 0;
  background: none;
}

.infoCardHeadline--about-info-card {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem;
}

/* ----- Home: Testimony ----- */
.imageElement--testimony-quote {
  width: 60px;
  height: 60px;
  transform: rotate(180deg);
  margin: 1.50rem 0 1.25rem;
}

.imageElement--testimony-profile-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1rem;
}

@media (max-width: 400px) {
  .imageElement--testimony-profile-img {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}